[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/strogonoff/vim-coffee-script.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/bundle/vim-abolish"]
	path = bundle/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
