[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/strogonoff/vim-coffee-script.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-nginx"]
	path = bundle/vim-nginx
	url = https://github.com/fatih/vim-nginx.git
[submodule "bundle/vim-es6"]
	path = bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/vim-mikrotik"]
	path = bundle/vim-mikrotik
	url = https://github.com/grawity/vim-mikrotik.git
